.MultiSelectDropdown .form-group {
    padding: 0;
    margin: 0;
}

.MultiSelectDropdown .app-select {
    pointer-events: none;
}

.MultiSelectDropdown .checklist-content {
    display: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e4e7ef;
}

.MultiSelectDropdown:hover .checklist-content,
.MultiSelectDropdown:focus .checklist-content,
.MultiSelectDropdown .checklist-content:hover,
.MultiSelectDropdown .checklist-content:hover {
    display: block;
}

.MultiSelectDropdown .checklist-content {
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 266px;
    z-index: 4;
    overflow: auto;
}

.MultiSelectDropdown .checklist-content .stacked li.checkbox {
    padding: 1em;
    margin: 0em !important;
    border-bottom: 1px solid #e4e7ef;
}

.MultiSelectDropdown .checklist-content .stacked li.checkbox.active {
    background-color: #f9fafc;
}

.MultiSelectDropdown .checklist-content .stacked li.checkbox .caption {
    color: #1c2a43;
    white-space: normal;
}